* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.page-loader {
    height: 60vh;
    text-align: center;
    padding-top: 20vh;
}

.header-container {
    border: 1px solid #b51414;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100vw;
    margin: 0;
}

.user-role-section > h2 {
    display: inline-block;
    padding-left: 10px;
}

.header-actions {
    padding-top: 12px;
}

.user-role-section {
    padding-top: 15px;
}

.user-role-section > span {
    cursor: pointer;
}

.login-container {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.login-container-inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Test */

input[type=checkbox] {
  transform: scale(1.5);
}

.modelSectionText{
    font-size: 18px;
    color: black;
}

.model_Text{
    font-size: 24px;
    font-weight: 600;
    color: black;
}